# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# ignoring backend
# Virtual Environment
venv/
env/
envs/
*.conda
Pipfile.lock
.venv/

# Django
*.pyc
__pycache__/
db.sqlite3
*.sqlite3
media/

# Python
*.py[cod]
*$py.class
.DS_Store
*.swp
*~
*.bak
*.log
*.egg-info/
dist/
build/
